
body{

    max-height: 100vh;
    background-image: url("vecteezy_beautiful-beach-with-palms-and-turquoise-sea-in-jamaica_25950297_321.jpeg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    min-width: 450px;

}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

header #logo {
    position: relative;
    right: 10%;
    margin-left: 10px;
    font-size: xx-large;
    color: rgb(10, 215, 157);
    font-weight: bold;
    font-family:'Helvetica Neue';
}
header #logo :hover{
    cursor: pointer;
}
header span{
    color: white;
    font-weight: bold;
}

nav {
    position: relative;
    right: 10%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 15px;
    color: #fff;
    font-size: smaller;
    transition: 0.5s;
    cursor: pointer;
}

nav ul li:hover{
    text-decoration: underline;
}

/* nav ul li::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 4px;
    top: 100%;
    left: 0;
    transition: transform 0.5s;
    transform: scalex(0);
    transform-origin: right;
    background-color: blueviolet;

}

nav ul li:hover{
    color: #fff;
}

nav ul li:hover::after{
    transform: scale(1);
    transform-origin: left;
} */
.menu{
    display: none;
}
.socialMedia2{
    display: none;
}

section{
    position: relative;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section p{

    color: #fff;
    margin-right: 5px;
}

section img{
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
    margin-right: 10px;

}

section img:hover{
    cursor: pointer;

}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

main section{
    display: block;


}



main section h1{
    color: #24f0b6ff;
    font-size: 50px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main section p{
    position: relative;
    bottom: 20px;
    color: #ffff;
    font-weight: small;
    font-family: Calibri;
    
}
main section span {
    color: #24f0b6ff;
}

main section button{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(156, 219, 153, 0.20), rgba(156, 219, 153,0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(156, 219, 153, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.60);
    border-left: 4px solid rgba(27, 196, 20, 20);
    border-right: 4px solid rgba(27, 196, 20, 20);
    cursor: pointer;
    font-weight: 40em;
    font-size:14px ;
    color: #fff;
    font-weight: bold;
}

button:hover
{
    background: rgba(27, 196, 20, 0.15);
    border-top:2px solid rgba(27, 196, 20, 20);
    border-bottom:2px solid rgba(27, 196, 20, 20);
    border-left: 0px solid rgba(27, 196, 20, 20);
    border-right: 0px solid rgba(27, 196, 20, 20);
}


@media(max-width:900px)
{
  
    .socialMedia2{
        position: absolute;
        bottom: 10px;
        left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40%;

    }

    section{
        position: relative;
        display: none;
       
    }

    .socialMedia2 p{

        display: none;
    }
    
    .socialMedia2 img{
        position: relative;
        bottom: 50px;
    
    
    }
    
    .socialMedia2 img:hover{
        cursor: pointer;
    
    }

    header #logo {
        position: relative;
        right: 5%;
        margin-left: 10px;
    
    }

    nav {
        position: relative;
        left: 5%;
    }  
 
          
}


@media(max-width:850px)
{
    main section h1{
        font-size: 40px;
       
    }

}

@media(max-width:700px)
{
    .menu{
        position: relative;
        left: 20%;
        right: 5%;
        display: flex;
        cursor: pointer;
        transition: transform 0.5s ;
    }
    .menu.active{
        transform: rotate(-90deg);
    }

    .menuActive {
      display: none;
    }

    .menuActive.active{
        position: absolute;
        top: 100%;
        left: 75%;
        right: 5%;
        width: 150px;
        height: auto;
        display: block;
        background: linear-gradient(135deg, rgba(156, 219, 153, 0.20), rgba(156, 219, 153,0));
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(156, 219, 153, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.60);
        cursor: pointer;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 4;
        

    }

    .menuActive.active ul {
        position: relative;
        display: block;

    }

    .menuActive.active ul li{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 15px;
        margin-top: 15px;
        width: 100%;
        height: 20px;
        cursor: pointer;
        transition: 0.2s;
    }

    .menuActive.active ul li:hover{
        background: linear-gradient(135deg, rgba(57, 61, 57, 0.2), rgba(156, 219, 153,0));
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.60);
        border-radius: 5px;
    }

    header #logo {
       
        right: 10%;
    
    }
    title.active{
        position: relative;

    }

    main section h1{
        font-size: 35px;
       
    }

  
    


}

@media(max-width:700px)
{
    .menuActive.active{

        left: 70%;

    }


    header #logo {
        position: relative;
        margin-left: 5px;
        right: 20%;
        margin-left: 10px;
    
    }

    main section h1{
        font-size: 25px;
    }
    
    main section p{
        position: relative;
        bottom: 20px;
        color: #ffff;
        font-weight: 10px;
        font-family: Calibri;
        
    }


}


